<template name="homepage">
  <main role="main" id="main">
    {{#if hasAdminAccess}}
    <div>
      {{> products}}
    </div>gt {{else}}
    <div>
      {{> introTemplate}}
      <div style="background-color: #f6f6f6">
        <div class="container">
          <div class="row featured">
            <h1>Featured Products</h1>
            {{> products}}
          </div>
        </div>
      </div>
      {{> categoryTemplate}} {{> aboutTemplate}} {{> footerTemplate}}
    </div>
    {{/if}}
  </main>
</template>