<template name="homepage">
  <main role="main" id="main">
    {{#if hasAdminAccess}}
    <div>
      {{> products}}
    </div>
    gt {{else}}
    <div>
      {{> aboutTemplate}}
      <div class="product-section">
        <div class="container-fluid">
          <div class="row featured">
              <header class="cat">
                  <div class="line"></div>
                  <center>
                    <h1 class="cat-header">Featured Products</h1>
                  </center>
                  <div class="line"></div>
                </header>            
            {{> products}}
          </div>
        </div>
      </div>
      {{> categoryTemplate}}
      {{> footerTemplate}}
    </div>
    {{/if}}
  </main>
</template>
